/**
 * @file
 * Site theme overrides for Career Services.
 */

/* Front */

.front .socialicon {
  margin: 0 5px;
  width: 30px;
}

.front #block-hfccbane-event0 .item-list ul {
  margin: 0;
  list-style-type: none;
  list-style-image: none;
}

.front #block-hfccbane-event0 .item-list li {
  padding: 0;
  margin: 0;
}

#news-contact .flex-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

#contact, #news {
  webkit-box-flex: 0 1 100%;
  -moz-box-flex: 0 1 100%;
  -webkit-flex: 0 1 100%;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;]
  width: 100%;
}

#contact .region-contact, #news .region-news {
  padding: 1em;
}

#contact {
  background-color: #dedede;
  text-align: center;
}

/* Blockquote styles */
blockquote  p:nth-child(odd) {
  background: #DFE9F4;
  padding: 3px;
}

/* Job table styles on node 47 */

.page-node-47 th {
  font-weight: bold;
}

.page-node-47 tr > td:first-child {
  font-weight: bold;
}

.page-node-47 td {
  padding: 0.5em;
  border-left: 1px solid #d0d0d0;
}

.page-node-47 td:first-child {
  border-left: none;
}

@media only screen and (min-width: 768px) {

    #news {
    webkit-box-flex: 0 1 70%;
    -moz-box-flex: 0 1 70%;
    -webkit-flex: 0 1 70%;
    -ms-flex: 0 1 70%;
    flex: 0 1 70%;
  }

    #contact {
    webkit-box-flex: 0 1 30%;
    -moz-box-flex: 0 1 30%;
    -webkit-flex: 0 1 30%;
    -ms-flex: 0 1 30%;
    flex: 0 1 30%;
  }

  .center {
    text-align: center; /* to align social icons */
  }

}
